:root{
  /* Primary */
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* Neutral */
--Very-dark-blue-main: hsl(217, 54%, 11%);
--Very-dark-blue-card: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Outfit Light";
  src: url(../asset/fonts/Outfit-Light.ttf);
}
@font-face {
  font-family: "Outfit Regular";
  src: url(../asset/fonts/Outfit-Regular.ttf);
}
@font-face {
  font-family: "Outfit SemiBold";
  src: url(../asset/fonts/Outfit-SemiBold.ttf);
}
*{
  font-family: "Outfit Light";
}
body{
  background-color: var(--Very-dark-blue-main);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}

.main{
  background-color: var(--Very-dark-blue-card);
  border-radius: 1em;
  width: 23em;
  padding: 1.5em;
  margin: 1em;
}
.main__link{
  position: relative;
  display: block;
}

.main__fondo{
  border-radius: .5em;
}
.main__link:hover > .main__view{
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../asset/icon/icon-view.svg);
  border-radius: .5em;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
}
.main__link:hover > .main__view::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 241, 241, 0.5);
  position: absolute;
  top: 0;
  border-radius: .5em;
} 

.main__title{
  color: var(--White);
  font-size: 1.5em;
  margin: 1em 0;
}
.main__title:hover{
  color: var(--Cyan);
}
.main__description{
  color: var(--Soft-blue);
  line-height: 1.5em;
}
.main__promo,
.main__section{
  display: flex;
  justify-content: space-between;
}
.main__section{
 width: 100%;
 justify-content: start;
 align-items: center;
}
.main__price,
.main__date{
  margin: 0;
  margin-left: .5em;
}
.main__promo{
  padding-bottom: 1.2em;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}

.main__price{
  color: var(--Cyan);
  font-family: "Outfit SemiBold";
}
.main__date{
  color: var(--Soft-blue);
}
.main__footer{
  display: flex;
  align-items: center;
  margin: 1em 0 0;
}
.main__user{
  width: 2em;
  border-radius: 100%;
  border: 1px solid var(--White);
}
.main__name{
  font-family: "Outfit Regular";
  margin: 0;
  margin-left: .5em;
  color: var(--Soft-blue);
}
.main__author{
  font-family: "Outfit Regular";
  color: var(--White);
  margin-left: .3em;
}
.main__author:hover{
  color: var(--Cyan);
}